<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>
  <div class="container">
    <form id="contact" action="" method="post">
     {% csrf_token %}
      <h3>Step1: Ticket Information Form</h3><br>
      <fieldset>
        <input placeholder="Your First Name" type="text" tabindex="1" required autofocus>
      </fieldset>
      <fieldset>
        <input placeholder="Your Last Name" type="text" tabindex="2" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Email Address" type="email" tabindex="3" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Phone Number" type="tel" tabindex="4" required>
      </fieldset>
      <fieldset>
        <input placeholder="Your Address" type="text" tabindex="5" required>
      </fieldset>
      <fieldset>
        <input placeholder="City" type="text" tabindex="6" required>
      </fieldset>
      <fieldset>
        <select tabindex="7" required>
        	<option value="AB">Alberta</option>
        	<option value="BC">British Columbia</option>
        	<option value="MB">Manitoba</option>
        	<option value="NB">New Brunswick</option>
        	<option value="NL">Newfoundland and Labrador</option>
        	<option value="NS">Nova Scotia</option>
        	<option value="ON">Ontario</option>
        	<option value="PE">Prince Edward Island</option>
        	<option value="QC">Quebec</option>
        	<option value="SK">Saskatchewan</option>
        	<option value="NT">Northwest Territories</option>
        	<option value="NU">Nunavut</option>
        	<option value="YT">Yukon</option>
        </select>
      </fieldset>
      <fieldset>
        <input placeholder="Postal Code" type="text" tabindex="8" required>
      </fieldset>
      <fieldset>
        <input name="opt-out" value="1" type="checkbox" tabindex="9">  Would you like to hear more about us!
      </fieldset>
      <fieldset>
        <button class="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
      </fieldset>
    </form>
  </div>
</body>
</html>
