<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link href="{% static 'sales/stylesheet.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="container">
    <form id="contact" action="" method="post">
        {% csrf_token %}
      <fieldset>
      <input placeholder="Username" name="username" type="text" maxlength="20" >
      <input placeholder="Password" name="password" type="password"  maxlength="14">
</fieldset>
  <fieldset>
      <button class="submit" >Login</button>
  </fieldset>
</form>
</div>
</body>
</html>
