<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <link href="{% static 'sales/stylesheet.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'sales/script.js' %}" type="text/javascript"></script>

</head>
<body>
  <div class="container">
    <form id="contact" action="" method="post">
      {% csrf_token %}
      <h3>Step2: Amount of Sold Tickets</h3><br>
      <fieldset>

              <select name="selector0" id="row0" onchange="changeFunc(value, this.id);">
            	   <option value="1">1 Ticket ${{ price1 }}</option>
            	   <option value="2">3 Ticket Pack ${{ price3 }}</option>
            	   <option value="3">10 Ticket Pack ${{ price10 }}</option>
              </select>
            <input name="ticket0.0" placeholder="Ticket Number" type="text" >
          <div id="contentrow0"></div>
      </fieldset>
      <div id="more"></div>
      <fieldset>
        <button type="button"class="submit" onclick="add()">+</button>
      </fieldset>
      <fieldset>
        <button type="submit" class="submit" >Submit</button>
      </fieldset>
    </form>
    <p id="total"></p>
  </div>

</body>
</html>
