{% extends 'sales/base.html' %}

{% block content %}
  <div class="container">
    <form id="contact" action="" method="post">
      {% csrf_token %}
      <h3>Step 3: Amount of Sold Tickets</h3><br>
      {% if multi_key_error %}
      <h5><span>{{ multi_key_error }}</span></h5>
      {% endif %}
      <fieldset>

              <select name="selector0" id="row0" onchange="changeFunc(value, this.id);">
            	   <option value="1">1 Ticket ${{ price1 }}</option>
            	   <option value="2">3 Ticket Pack ${{ price3 }}</option>
            	   <option value="3">10 Ticket Pack ${{ price10 }}</option>
              </select>
            <input name="ticket0.0" placeholder="Ticket Number" type="number" max="99999" min="0">
          <div id="contentrow0"></div>
      </fieldset>
      <div id="more"></div>
      <fieldset>
        <button type="button"class="submit" onclick="add()">+</button>
      </fieldset>
      <fieldset>
        <button type="submit" class="submit" >Submit</button>
      </fieldset>
    </form>
    <p id="total"></p>
  </div>

{% endblock %}
